#dMapa, h1,h2,h4,h5{
    margin: 5vh auto;
    text-align: center;
}

body{
    background-color: #c0c0ff;
}

#dMapa{
    height: 60vh;
    width: 60%;
    border: solid black 2px;
}

#dPopButton{
    margin: auto;
    background-color: #97e9ff;
    border-radius: 4px;
    border-color: black;
}

#bMostrarDatos{
    background-color: #f7fef6;
    margin: auto;
    border-radius: 4px;
    border: solid #3c3c51 2px;
}

#dParteinferior{
    text-align: center;
    margin-bottom: 2em;
}

#dPaneles{
    height: auto;
    width: auto;
    max-width: 50%;
    margin: 5vh auto;
    border: solid #36364b 2px;
    border-radius: 5px;
    background-color: #95a9cc;
}

#dTablaDatos{
    text-align: center;
    display: inline-block;
    height: 3vh;
    height: auto;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0.1em;

}

#dOpcionesDatos{
    text-align: center;
    display: inline-block;
    height: auto;
}

#dDatos{
    text-align: center;
}

.dBalizaElegida{
    border: solid #2c3d63 2px;
    background-color: #d3e0ff;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.dConfDatos{
    border: solid #2c3d63 2px;
    background-color: #d3e0ff;
    border-radius: 3px;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
    text-align: center;
    display: inline-block;
}


.leaflet-popup-content{
    text-align: center;
}